@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

$poppins: 'Poppins', sans-serif;
$white: #FFF;
$offWhite: #F8F8F8;
$lightGrey: #DDD;
$darkGrey: #9A9A9A;
$darkerGrey: #7C7C7C;
$darkestGrey: #4C4C4C;
$matteBlack: #1e1e1e;
$lightBlue: #65BBF6;
$darkerBlue: #4eadec;
$yellow: #ff9f0c;


$lightShadow: 5px 5px 10px rgba(0, 0, 0, 0.2);